<h1>Angular with NgPrime</h1>

<div class="card">
  <p-table
    #dt
    [value]="employees"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="[
      'name',
      'employeeId',
      'pag',
      'payAnalysisGroup',
      'title',
      'wage',
      'location'
    ]"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedEmployees"
    [rowHover]="true"
    dataKey="employeeId"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Manage Employees</h5>
        <p>
          {{
            !selectedEmployees || !selectedEmployees.length
              ? ""
              : selectedEmployees.length + " rows selected"
          }}
        </p>
        <span class="p-input-icon-right">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Global Search"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 8rem; text-align: end">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="employeeId">
          Employee ID <p-sortIcon field="employeeId"></p-sortIcon>
        </th>
        <th pSortableColumn="name">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="pag">Pag <p-sortIcon field="pag"></p-sortIcon></th>
        <th pSortableColumn="payAnalysisGroup">
          Pay Analyze Group <p-sortIcon field="payAnalysisGroup"></p-sortIcon>
        </th>
        <th pSortableColumn="title">
          Title <p-sortIcon field="title"></p-sortIcon>
        </th>
        <th pSortableColumn="wage">
          Wage <p-sortIcon field="wage"></p-sortIcon>
        </th>
        <th pSortableColumn="location">
          Location <p-sortIcon field="location"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee let-expanded="expanded">
      <tr>
        <td>
          <div class="first-col">
            <button
              type="button"
              pButton
              pRipple
              [pRowToggler]="employee"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            ></button>
            <p-tableCheckbox [value]="employee"></p-tableCheckbox>
          </div>
        </td>
        <td>{{ employee.employeeId }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.pag }}</td>
        <td>{{ employee.payAnalysisGroup }}</td>
        <td>{{ employee.title }}</td>
        <td>{{ employee.wage | currency : "USD" }}</td>
        <td>{{ employee.location }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-employee>
      <tr>
        <td colspan="10">
          <div class="p-3">
            <div *ngIf="employee.flaggedEmployeeDetail">
              <h3>Flagged Employee Details</h3>
              <p>CPId: {{ employee.flaggedEmployeeDetail.cpId }}</p>
              <p>Project ID: {{ employee.flaggedEmployeeDetail.projectId }}</p>
              <p>
                Employee ID: {{ employee.flaggedEmployeeDetail.employeeId }}
              </p>
              <p>Notes: {{ employee.flaggedEmployeeDetail.note }}</p>
              <p>
                Factor Not Included:
                {{ employee.flaggedEmployeeDetail.factorNotIncluded }}
              </p>
              <p>
                Special Negotiation:
                {{ employee.flaggedEmployeeDetail.specialNegotiation }}
              </p>
              <p>Other: {{ employee.flaggedEmployeeDetail.other }}</p>
              <p>
                Omit From BM: {{ employee.flaggedEmployeeDetail.omitFromBM }}
              </p>
              <p>Day Diff: {{ employee.flaggedEmployeeDetail.dayDiff }}</p>
              <p>
                Custom Comp: {{ employee.flaggedEmployeeDetail.customComp }}
              </p>
            </div>
            <div else>No flagged employee detail yet.</div>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ employees ? employees.length : 0 }} employees.
      </div>
    </ng-template>
  </p-table>
</div>
